/*
                <div id="sidebar-container" style=" "></div>
                <div id="content-container" style=""></div>*/

#sidebar-container
{
    width:300px;
    margin-right: auto;
    background-color: red;
}

#content-container
{
    margin-right: 100%;
    background-color: red;
}

.webix_ss_vscroll_header
{
    
}